<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div id="header" class="jumbotron">
                <h1>Bienvenue</h1>
            </div>
        </header>

            {% for message in app.flashes('info') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        
        <div>
            <h4>Dernières annonces de la plateforme</h4>
            
            {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
        
        </div>

        <hr />

        <footer>
            <div>
                <a href="{{ path("oc_core_homepage", { 'tag': 'contact' }) }}" class="btn btn-default"><span class="glyphicon glyphicon-bullhorn"></span> Nous contacter</a>
            </div>
        </footer>
    </div>
</body>
</html>      
